In [34]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
import pickle

In [36]:
df=pd.read_csv("spam.csv",encoding="latin-1")

In [37]:
df.head()

,class,message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [38]:
df.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1, inplace=True)

In [39]:
df['label'] = df['class'].map({'ham': 0, 'spam': 1})

In [40]:
X = df['message']
y = df['label']

In [41]:
cv = CountVectorizer()
X = cv.fit_transform(X)

In [42]:
 pickle.dump(cv, open('tranform.pkl', 'wb'))

In [43]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
#Naive Bayes Classifier
from sklearn.naive_bayes import MultinomialNB

In [44]:
import pickle
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [45]:
clf = MultinomialNB()
clf.fit(X_train,y_train)
clf.score(X_test,y_test)
y_nb=clf.predict(X_test)
print(confusion_matrix(y_test,y_nb))
print(accuracy_score(y_test,y_nb))

[[1569   18]
 [  20  232]]
0.9793365959760739

In [46]:
filename = 'nlp_model.pkl'
pickle.dump(clf, open(filename, 'wb'))